<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cryptaxation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Cryptaxation.Properties.Settings>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="PersonalIdentificationNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="BitstampTransactionsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RiksbankenRatesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BitstampRatesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="K4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
        </Cryptaxation.Properties.Settings>
    </userSettings>
</configuration>